@model IEnumerable<COMP2084_Assignment2.Match>

@{
    ViewBag.Title = "Matches";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<img src="@Url.Action("getWinLossChart", "Matches")" class="img-responsive" />

<p>
    @Html.ActionLink("Create New", "Create", "Matches", null, new { @class = "btn btn-success" })
</p>
<table class="table table-condensed table-responsive">
    <thead class="thead-inverse">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Class.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class1.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Map1.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.result)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.notes)
            </th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="@(item.result?"success":"danger")">
                <td>
                    @Html.DisplayFor(modelItem => item.Class.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Class1.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Map1.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.result)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.notes)
                </td>
                <td>
                    <div class="btn-group" role="group" aria-label="Edit Details Delete">
                        @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class = "btn btn-info" })
                        @Html.ActionLink("Details", "Details", new { id = item.id }, new { @class = "btn btn-warning" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "btn btn-danger" })
                    </div>
                </td>
            </tr>
        }
    </tbody>

</table>
